
body{
    background-color: hsl(240, 30%, 65%);
    
}

h1 {
    text-align: center;
    font-family: verdana;
}

.heading{
    margin-bottom: 40px;
}

h2 {
    font-family: verdana;
    
    width: fit-content;
    text-align: left;
    
}

.colors {
    margin: 0px 20px 0px 20px;
    
}

.colors h2 {
    color: hsl(1, 70%, 30%);
}

.colorbox {
    border: 2px solid black;
    height:auto;
    overflow: auto;

}

p{
    font-weight: bold;
}
.colorbox p {
    text-align: center;
    width: 140px;
    height: auto;
    margin: 5px;
    line-height: 20px;
    display: inline-block;
    padding: 15px;
    border-radius: 3px;
    font-family: verdana;
    font-size: small;

}

.red {
    background-color: #ff0000;
}

.yellow {
    background-color: #ffff00;
}

.blue {
    background-color: 	#0000ff;
}

.aqua {
    background-color: #00ffff;
}

.darkgreen {
    background-color: #006400;
}

.deeppink{ 
    background-color: #ff1493;
}

.gold {
    background-color: #ffd700;
}

.greenyellow {
    background-color: #adff2f;
}

.blueviolet {
    background-color: #8a2be2;
}

.darkorange{
    background-color: #ff8c00;
}

.darkred {
    background-color: #8b0000;
}

.darkseagreen {
    background-color: #8fbc8f;
}

.darkslateblue {
    background-color: #483d8b;
}

.darkviolet {
    background-color: #9400d3;
}

.deeppink {
    background-color: #ff1493;
}

.deepskyblue {
    background-color: #00bfff;
}

.forestgreen {
    background-color: #228b22;
}

.limegreen {
    background-color: #32cd32;
}

.mediumspringgreen {
    background-color: #00fa9a;
}

.mediumpurple {
    background-color: 	#9370db;
}
.fonts {
    margin: 0px 20px 0px 20px;
    position: relative;
    top: 50px;
}

#fontheader {
    color: hsl(240, 50%, 30%);
}

.fontbox {
    border: 2px solid black;
    height:auto;
    
   

}

.fontbox h2{
    text-decoration: underline;
}
.roboto {
    border: 2px solid black;
    margin: 20px;
    font-family: 'Roboto', sans-serif;

}



.regular{
    font-weight: 400;
}
.bold {
    font-weight: 800;
}

.italic {
    font-style: italic;
}

.edu {
    border: 2px solid black;
    font-family: 'Edu NSW ACT Foundation', cursive;
    margin: 20px;
}

.gruppo {
    border: 2px solid black;
    font-family: 'Gruppo', cursive;
    margin: 20px;
}

.robotomono {
    border: 2px solid black;
    font-family: 'Roboto Mono', monospace;
    margin:20px;
}

.headings {
    margin: 0px 20px 0px 20px;
    position:relative;
    top: 80px;
}

#headingheader {
    color: hsl(140,50%, 30%);
}


.headingbox {
    border: 2px solid black;
    height: 350px;
    margin-bottom: 120px;
    
}

.content {
    text-align: left;
    margin: 20px;
}
